#wp-theme-file-uploader {
	background:#f9f9f9;
	border:1px solid #ddd;
	font-size:14px;
	margin:20px 0;
	overflow:hidden;
	padding:20px;
	width:600px;
}

#wp-theme-file-uploader label {
	font-weight:bold;
}

.wp_theme_file_uploader_helper {
	color:#999999;
	display:block;
	font-style:italic;
	margin:5px 0;
}